<nav> 
<img src="Image Logo>
<ul>
    <li><a href="/"><b>Home</b></a></li>
    <li><a href="/team/"><b>Team</b></a></li>
    <li><a href="/partners/"><b>Our Sponsors</b></a></li>
    <li><a href="/join/"><b>Join Us</b></a></li>
</ul>
<button class="btn"><b>Sponsor Us</b></button>
</nav>